<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

    {{> navbar}}
      <img src="..." alt="..." class="img-thumbnail">

    <h1>Hola, {{nombre}}</h1>  

    <p>Soy Leidy,{{anio}}</p>

</body>
</html>